<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>User Management</h1>
    <div>
        <h2>Add User</h2>
        <form id="userForm">
            <label for="id">User ID:</label>
            <input type="text" id="id" name="id" required />
            <br />
            <label for="name">User Name:</label>
            <input type="text" id="name" name="name" required />
            <br />
            <button type="submit">Add User</button>
        </form>
    </div>
    <div>
        <h2>User List</h2>
        <ul id="userList"></ul>
    </div>
    
    <script src="/components/addUser.js" defer></script>
    
    <!-- Usergrid.html -->
    <a href="userGrid.html">Go to User Grid Page</a>

</body>
</html>
